@import "./normalize.css";
@import "./webflow.css";
@import "./harikuladeler-webflow.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {min-height:50vh;}

div.section.main {padding:64px 3%;}
#grid-container {grid-column-gap: 32px; grid-row-gap:64px !important; padding: 32px 6vw !important;}


.card-tag-box {flex-wrap: wrap;position: absolute; bottom: 8px; left:0; padding:0 8px;}
.card-tag {margin:8px; padding:2px 4px;  border-radius: 6px; font-size: 12px; font-weight: bold; justify-content: center; align-items: center;}


/* CARD */
.card {position: relative;}
div.card, .card-link {background-color: #ffffff; min-width:100% !important;}
.card-info-box{padding: 8px 12px;}
/* 
.card {justify-content: space-between;}
*/
.card-image {height:200px;}
.card h3 {font-size: 24px; margin:8px 0}
.card p {font-size: 16px;}



@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.service-32 {
font-family: "Montserrat", sans-serif;
    color: #8d97ad;
font-weight: 300;
}

.service-32 h1, .service-32 h2, .service-32 h3, .service-32 h4, .service-32 h5, .service-32 h6 {
color: #3e4555;
}

.service-32 .font-weight-medium {
    font-weight: 500;
}

.service-32 .badge {
    line-height: 14px;
}

.service-32 .badge-info {
    background: #188ef4;
}

.service-32 .btn-info-gradiant {
    background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
    border: 0px;
    color: #ffffff;
}

.service-32 .btn-info-gradiant:hover {
        background: #316ce8;
    background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
    background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
    background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: linear-gradient(to right, #316ce8 0%, #188ef4 100%);
}

.service-32 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}
    .Selector {
      /* Layout */
          display: flex; flex-wrap:wrap;
      /* Sizes */
        box-sizing:border-box;
        width:100%;
          padding: 20px;
          margin: 16px 0 48px 0;
          
          border-bottom:4px solid rgba(180,180,180,0.8)
  }
  .Selector input {
    background-color: rgba(50,50,50,0.8);
      /* Layout */
          position: relative; 
      /* Reset */
          outline: none; appearance: none; -webkit-appearance: none; -moz-appearance: none;
      /* Sizes */
          height:auto;border-radius: 6px; background-size: cover; padding:0px 16px; margin: 8px;
  }
  /* Hidden */
  .Selector input::after { content: attr(title); display: block;}
  /* Label */
  .Selector input::after {
      /* Layout */
          position: relative; cursor: pointer; display: block; 
      /* Text */
          font-weight:bold;
          text-align: center; text-transform: uppercase; letter-spacing: 2px; color: #fff; font-size: 10px;
      /* Sizes */
          line-height:2.5; border-radius: 4px;
  }
  /* Hover */
  .Selector input:hover{ background: #333;}
  /* Active */
  .Selector input:checked:before {
      /* Position */
          position: absolute; right: -10px; top: -10px;
      /* Layout */
          z-index: 3; content: ""; display:block; box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
      /* Background */
          background: #fff; background-size: cover;
          background-image: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 512 512' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path fill='rgb(139, 139, 255)' d='m437.019 74.98c-48.352-48.351-112.639-74.98-181.019-74.98-68.381 0-132.668 26.629-181.02 74.98-48.351 48.352-74.98 112.64-74.98 181.02s26.629 132.667 74.98 181.019c48.352 48.352 112.64 74.981 181.02 74.981s132.667-26.629 181.019-74.98c48.352-48.353 74.981-112.64 74.981-181.02s-26.629-132.667-74.981-181.02zm-58.713 120.093-143.065 143.066c-2.929 2.929-6.768 4.393-10.606 4.393-3.839 0-7.678-1.464-10.607-4.393l-80.334-80.333c-5.858-5.857-5.858-15.354 0-21.213 5.857-5.858 15.355-5.858 21.213 0l69.728 69.727 132.458-132.46c5.857-5.858 15.355-5.858 21.213 0s5.858 15.355 0 21.213z'/></svg>");
      /* Sizes */
          border-radius:15px; height: 20px; width: 20px;
  }