.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Circularstd;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Circularstd;
  color: #000;
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  position: static;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Circularstd;
  color: #000;
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}

img {
  display: inline-block;
  max-width: 100%;
  margin-right: 16px;
}

.flex-container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  display: none;
  padding-right: 16px;
  padding-left: 16px;
  font-family: 'Circularstd book';
  color: #5e727d;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.nav-link:hover {
  color: #1b2d45;
}

.nav-link.dark-blue {
  margin-right: 4px;
  padding-right: 4px;
  padding-left: 4px;
  color: #1b2d45;
  white-space: nowrap;
}

.primary-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
  padding: 20px 26px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.07);
  text-decoration: none;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0%;
  padding-bottom: 0px;
  padding-left: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../public/images/macbook-pro.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.hero-text-block {
  position: relative;
  width: 50%;
  margin-top: 96px;
  text-align: center;
}

.paragraph-basic {
  margin-bottom: 0px;
  font-family: 'Circularstd book';
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
}

.paragraph-basic._40-bottom-padding {
  margin-bottom: 18px;
  color: rgba(250, 250, 250, 0.7);
}

.slide {
  margin-right: 50px;
  padding: 0px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(70, 137, 215, 0.2);
  border-radius: 10px;
  background-color: #fff;
}

.blue-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  padding-right: 3%;
  padding-left: 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #303030;
}

.footer-grid {
  grid-column-gap: 60px;
  -ms-grid-columns: 0.6fr 0.25fr 0.5fr 0.5fr;
  grid-template-columns: 0.6fr 0.25fr 0.5fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.footer-logo {
  width: 80px;
  max-width: 180px;
  margin-bottom: 30px;
}

.arrow {
  width: 15px;
}

.nav-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.dropdown-toggle {
  padding-right: 16px;
  padding-left: 16px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #5e727d;
}

.dropdown-toggle:hover {
  color: #1b2d45;
}

.nav-blog-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
}

.dropdown-pointer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-link-details {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgba(228, 228, 228, 0.6);
  font-size: 14px;
  white-space: normal;
}

.navigation-container-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 44px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navigation-mob {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-dropdown {
  min-width: 140px;
}

.navigation-dropdown.w--open {
  left: -180px;
  max-height: 100vh;
  min-width: 320px;
  margin-right: 64px;
  padding-top: 10px;
  background-color: transparent;
}

.navigation-dropdown.dropdown-long {
  left: -185px;
  min-width: 500px;
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-block {
  position: relative;
  z-index: 25;
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fafafa;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-title {
  margin-bottom: 2px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-size: 15px;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

.navigation-wrap {
  display: block;
}

.dropdown-wrapper {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  min-width: 140px;
  margin-bottom: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 0px;
  -webkit-filter: none;
  filter: none;
}

.dropdown-wrapper.w--open {
  left: -97px;
  max-height: 100vh;
  min-width: 300px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.nav-menu-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #283338;
  font-size: 15px;
  font-weight: 500;
}

.nav-logo {
  width: 54px;
}

.icon-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.dropdown-icon {
  width: 100%;
}

.pointer {
  position: absolute;
  left: 0%;
  top: -3%;
  right: 4%;
  bottom: auto;
  z-index: 20;
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-link-blog {
  color: #face55;
  font-size: 14px;
  white-space: normal;
}

.navigation {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.dropdown {
  display: none;
  font-family: 'Circularstd book';
  color: #5e727d;
  font-size: 16px;
}

.dropdown-link {
  position: relative;
  z-index: 25;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link:hover {
  background-color: hsla(0, 0%, 98%, 0.8);
  color: #1b2d45;
}

.hero-paragraph {
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  color: rgba(228, 228, 228, 0.7);
  font-size: 21px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0px;
}

.legal-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.legal-text {
  color: #5e727d;
  font-size: 12px;
  text-align: center;
}

.footer {
  position: relative;
  padding: 64px 3%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#1a1a1a));
  background-image: linear-gradient(180deg, #1a1a1a, #1a1a1a);
  box-shadow: none;
}

.hero-h1 {
  margin-bottom: 16px;
  font-family: 'Varela Round', sans-serif;
  color: #eee;
  font-size: 56px;
  letter-spacing: -1.4px;
}

.heading {
  font-family: 'Varela Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.dropdown-image {
  margin-bottom: 14px;
  border-radius: 10px;
}

.navigation-link {
  display: none;
  padding: 20px 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 15px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #8c54ff;
}

.navigation-link.w--current {
  color: #99d715;
}

.dropdown-toggle-2 {
  display: block;
  padding-right: 24px;
  padding-left: 12px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.dropdown-toggle-2:hover {
  color: #8c54ff;
}

.brand-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 44px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  min-height: 90px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-column-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.button-menu {
  display: none;
  min-height: 50px;
  padding-right: 35px;
  padding-left: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #8c54ff;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.navigation-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3%;
  padding-left: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.navigation-left-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-wrapper-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-width: 140px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 4px -19px 35px 0 rgba(32, 53, 90, 0.08), 11px 11px 30px -10px rgba(32, 53, 90, 0.15);
}

.dropdown-wrapper-flex.w--open {
  left: -97px;
  max-height: 100vh;
  min-width: 300px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.navigation-right-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

.icon-4 {
  margin-right: 5px;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #283338;
  font-size: 15px;
}

.flowbase-logo-2 {
  width: 60px;
}

.icon-wrap-2 {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  padding: 11px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 100px;
  background-color: rgba(140, 84, 255, 0.05);
}

.icon-5 {
  position: relative;
  z-index: 14;
  width: 100%;
}

.login-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link-blog-2 {
  color: #8c54ff;
  font-size: 14px;
  white-space: normal;
}

.dropdown-column-right {
  width: 50%;
  height: 100%;
  padding: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fafafa;
}

.dropdown-link-1 {
  position: relative;
  z-index: 25;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 25%;
  margin: 8px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 16px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #283338;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-link-1:hover {
  background-color: rgba(0, 0, 0, 0.66);
  color: #7333f0;
}

.dropdown-link-1.dd2 {
  overflow: hidden;
  min-width: 15%;
}

.dropdown-link-1.dd2:hover {
  max-width: 200px;
}

.heading-2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
}

.image {
  position: absolute;
  left: 20%;
  top: -10%;
  right: auto;
  bottom: auto;
}

.image-2 {
  width: 40px;
  height: 40px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #e0e0e0;
  font-size: 16px;
}

.link {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.text-block {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
}

.div-block-2 {
  display: none;
  width: 30%;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 460px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 250ms ease;
  transition: all 350ms ease;
}

.card:hover {
  box-shadow: 0 24px 16px -8px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(0px, -8px);
  -ms-transform: translate(0px, -8px);
  transform: translate(0px, -8px);
}

.card-image {
  width: 100%;
  height: 230px;
  background-image: url('../public/images/developer.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-link {
  color: #333;
  text-decoration: none;
}

.card-info-box {
  width: 100%;
  height: 200px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.heading-3 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 28px;
}

.paragraph-2 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  padding: 16px 32px 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 0.25fr 0.75fr;
  grid-template-columns: 0.25fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card-tag-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 30px;
  min-width: 80px;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(38, 214, 117, 0.323);
  color: #2c9b87;
}

.card-tag-text {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 700;
}

.body {
  background-color: #f9f8ff;
}

.div-block-5 {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.27);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3%;
  padding-left: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.harikulade-box {
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  margin-top: 64px;
  border-radius: 16px;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.harikulade-image-box {
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 600px;
  border-radius: 16px;
  background-image: url('../public/images/canva.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: none;
}

.harikulade-title {
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.harikulade-bilgi {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.image-7 {
  position: static;
  left: auto;
  top: auto;
  right: 16px;
  bottom: 8px;
  width: 40px;
  height: 40px;
}

.outlink {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.text-block-3 {
  margin-left: 2px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #272727;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.harikulade-tag-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.harikulade-info-box {
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

._141-nav-item {
  margin-top: 6px;
  margin-bottom: 20px;
  text-decoration: none;
}

.sidenav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.list {
  display: -ms-grid;
  display: grid;
  padding-left: 16px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.list-item-2 {
  list-style-type: none;
}

.list-item-3 {
  list-style-type: none;
}

.list-item-4 {
  list-style-type: none;
}

.list-item-5 {
  list-style-type: none;
}

.list-item-6 {
  list-style-type: none;
}

.heading-4 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.heading-5 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.heading-6 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.heading-7 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.heading-8 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.heading-9 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.image-8 {
  margin-right: 8px;
}

.image-9 {
  margin-right: 8px;
}

.image-10 {
  margin-right: 8px;
}

.image-11 {
  margin-right: 8px;
}

.image-12 {
  margin-right: 8px;
}

.image-13 {
  margin-right: 8px;
}

.grid {
  width: 100%;
  min-height: 400px;
  margin-top: 64px;
  padding-right: 3vw;
  padding-left: 3vw;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 991px) {
  .flex-container {
    margin-bottom: 0px;
  }

  .hero-text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-content-wrap {
    padding-left: 0px;
    text-align: center;
  }

  .mobile-nav-link {
    width: 100%;
  }

  .navigation-container-mob {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .navigation-mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 85px;
    padding-right: 3%;
    padding-left: 3%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid rgba(68, 85, 103, 0.11);
  }

  .menu-mob {
    border-radius: 100px;
    background-color: #fafafa;
    color: #000;
    font-size: 22px;
  }

  .menu-mob.w--open {
    background-color: #37def5;
  }

  .navigation-dropdown.w--open {
    z-index: 11;
  }

  .navigation-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .dropdown-title {
    width: 100%;
  }

  .nav-menu-2 {
    display: none;
  }

  .mobile-nav {
    padding-top: 15px;
    background-color: #fff;
    box-shadow: 42px 42px 55px 0 rgba(32, 53, 90, 0.09);
  }

  .nav-logo {
    width: 40px;
  }

  .navigation {
    display: none;
  }

  .hero-paragraph {
    max-width: 500px;
    text-align: center;
  }

  .hero-h1 {
    max-width: 500px;
    font-size: 55px;
    text-align: center;
  }

  .navigation-container-2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .navigation-2 {
    display: block;
  }

  .navigation-left-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
  }

  .navigation-right-2 {
    width: 40%;
  }

  .nav-menu {
    display: block;
  }

  .icon-wrap-2 {
    width: 50px;
    height: 50px;
  }

  .dropdown-link-1 {
    min-width: 0%;
    margin-right: 8px;
    margin-left: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section {
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
  }

  .sidenav {
    width: 100%;
  }

  .list {
    padding-right: 5%;
    padding-left: 5%;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid {
    margin-top: 64px;
    padding-right: 5vw;
    padding-left: 5vw;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .hero-text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-grid {
    grid-column-gap: 45px;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
  }

  .dropdown-wrapper {
    grid-column-gap: 8px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .hero-paragraph {
    max-width: 600px;
    text-align: center;
  }

  .hero-h1 {
    text-align: center;
  }

  .div-block-2 {
    width: 45%;
  }

  .card {
    margin-bottom: 32px;
  }

  .section {
    position: relative;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-5.frost-blur {
    height: auto;
  }

  .sidenav {
    width: 100%;
  }

  .image-8 {
    margin-right: 8px;
  }

  .grid {
    padding-right: 2vw;
    padding-left: 2vw;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .flex-container {
    margin-top: 32px;
    margin-bottom: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-section {
    padding-bottom: 0px;
  }

  .hero-text-block {
    width: 100%;
    margin-top: 0px;
  }

  .footer-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .nav-content-wrap {
    padding-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .dropdown-wrapper {
    margin-bottom: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .hero-paragraph {
    min-width: 250px;
    font-size: 18px;
  }

  .hero-h1 {
    margin-top: 32px;
    font-size: 36px;
  }

  .icon-wrap-2 {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }

  .dropdown-link-1 {
    min-width: 40%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .dropdown-link-1.dd2 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-2 {
    width: 100%;
  }

  .section {
    padding-left: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sidenav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .link-block {
    min-height: 40px;
  }

  .list {
    display: -ms-grid;
    display: grid;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-813f6d9a3b48-6d9a3b38 {
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-813f6d9a3b53-6d9a3b38 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

